<div class="container mt-3">
  <div id="typed-strings">
    <h1>Amazing Cocktails</h1>
    <h1>Amazing Experiences</h1>
  </div>
  <h1 class="text-center" id="typed"></h1>
  <script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 50,
      backSpeed: 50,
      smartBackspace: true,
      showCursor: false
    });
  </script>
  <div class="d-flex justify-content-evenly flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <div class="card m-2 card-main" style="width: 22rem;">
        <div class="card-image">
          <img src="https://source.unsplash.com/random/?cocktail" class="card-img-top" alt="A cocktail">
        </div>
        <div class="card-body">
          <h5 class="card-title"> <%= cocktail.name %></h5>
          <hr>
          <div class="d-flex text-right">
            <%= link_to "More info", cocktail_path(cocktail), class:"card-link" %>
            <%= link_to "Edit", edit_cocktail_path(cocktail), class:"card-link yellow" %>
            <%= link_to "Delete", cocktail_path(cocktail), method: :delete,
            data: { confirm: "Are you sure?" }, class:"card-link red" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
