// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "navbar";

body {
  background-image: url(/assets/spritz2.svg);
  background-repeat: no-repeat;
  background-position: 40px 80px;
}
