// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "footer";
@import "navbar";

body {
  background-image: url(/assets/spritz2.svg);
  background-repeat: no-repeat;
  background-position: 40px 120px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.typed-font {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  background-color: #F4F4F4;
}

.banner-area h1 {
  position: sticky;

  width: 100%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #e15845;
}

.banner-area span {
  color: $black;
}
