<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/fematarazzo"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/felipe_matarazzo"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/felipemps/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    By Felipe Matarazzo
  </div>
</div>
